<%= render "layouts/errors", object: @project %>

<%= bootstrap_form_for @project do |f| %>
  <div class="col-md-6 clearfix">
    <%= f.text_field :name %>
    <%= f.text_field :repo_URL,
        hide_label: true,
        placeholder: "Repo URL" %>
    <%= f.text_field :URL,
        hide_label: true,
        placeholder: "Live Project URL (if applicable)" %>
    <%= f.collection_select(:category_ids,
        Category.all,
        :id,
        :language,
        { selected: @project.category_ids,
          include_blank: false},
          { multiple: true }) %>
  </div>
  <div class="col-md-6 clearfix">
    <%= f.text_area :description, rows: "12" %>
  </div>
  <% if params[:user_id] %>
    <%= hidden_field :user, :id, name: "project[user_ids][]" %>
  <% end %>
  <%= f.submit class: "btn btn-success btn-block" %>
<% end %>
