
<h3> <%= @project.name %>
  <small class="muted">
    <%= link_to "Github repo", @project.repo_URL, target: "#" %>
    <% if @project.URL != "" %>
      |
      <%= link_to "Live Project Page", @project.URL, target: "#" %>
    <% end %>
  </small>
</h3>
<hr>
<div class="col-md-6">
  <p><span class="lead">Project Description: </span><%= @project.description %></p>
</div>
<div class="col-md-6">
  <p><span class="lead">Project Categories: </span></p>
  <div class="list-group">
    <% if @project.categories.any? %>
      <% @project.categories.each do |cat| %>
        <%= link_to cat.language, category_path(cat), class: "list-group-item" %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :nav do %>
  <%= render "nav_content" %>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Edit #{@project.name}",
        edit_project_path(@project),
        class: "list-group-item" %>
    <%= link_to "Delete #{@project.name}",
        project_path(@project),
        class: "list-group-item",
        data: { confirm: "Are you sure?" },
        method: :delete %>
  <% end %>
<% end %>
