
<h3> <%= @project.name %>
  <small class="muted">
    <%= link_to "Github repo", "#{@project.repo_URL}" %> |
    <% if @project.URL %>
      <%= link_to "Live Project Page", "#{@project.URL}" %>
    <% end %>
  </small>
</h3>
<hr>
<p><span class="lead">Project Description: </span><%= @project.description %></p>

<% content_for :nav do %>
  <%= render "nav_content" %>
  <%= link_to "Edit #{@project.name}",
      edit_project_path(@project),
      class: "list-group-item" %>
  <%= link_to "Delete #{@project.name}",
      project_path(@project),
      class: "list-group-item",
      data: { confirm: "Are you sure?" },
      method: :delete %>
<% end %>
