<h3>
  <%= @post.title %>
  <small class="muted"><%= @post.user.full_name %></small>
</h3>

<div class="col-md-9">
  <p>
    <%= @post.content %>
  </p>
</div>

<div class="col-md-3">
  <% if user_signed_in? %>
    <%= bootstrap_form_for @comment, remote: true do |f| %>
      <%= render "layouts/errors", object: @comment %>

      <%= f.text_area :content, rows: 3, hide_label: true, autofocus: true %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.hidden_field :comment, value: true %>
      <div class="actions">
        <%= f.submit "Post Comment", class: "btn btn-default btn-block" %>
      </div>
    <% end %>
    <div id="new-comment-button">
      <%= link_to "Comment", new_post_path, remote: true, class: "btn btn-default btn-block" %>
    </div>
  <% else %>
    <%= link_to "Sign up to comment", new_user_registration_path, class: "btn btn-default btn-block" %>
  <% end %>
  <hr>
  <div id="comments">
    <% if @post.posts.any? %>
      <% @post.posts.reverse_order.each do |comment| %>
        <%= render "comment", object: comment %>
      <% end %>
    <% end %>
  </div>
</div>

<%= content_for :nav do %>
  <%= render "nav_content" %>
  <% if user_signed_in? && current_user.admin? %>
    <div class="list-group nav-group">
      <%= link_to 'Edit', edit_post_path(@post), class: "list-group-item" %>
      <%= link_to "Delete",
          post_path(@post),
          class: "list-group-item",
          data: { confirm: "Are you sure?" },
          method: :delete %>
      <%= link_to 'New Post', new_post_path, class: "list-group-item" %>
    </div>
  <% end %>
<% end %>
