<h3> <%= @category.language %></h3>
<p>
  <div class="btn-group btn-group-sm btn-group-justified">
    <% if @profile %>
      <%= link_to "Edit #{@category.language}",
          edit_category_path(@category, profile_id: @profile.id),
          class: "btn btn-info" %>
    <% else %>
      <%= link_to "Edit #{@category.language}",
          edit_category_path(@category),
          class: "btn btn-info" %>
    <% end %>
    <%= link_to "Delete Category",
        category_path(@category),
        class: "btn btn-danger",
        data: { confirm: "Are you sure?" },
        method: :delete %>
  </div>
</p>
<p>
  <%= @category.description %>
</p>
<div class="col-md-6">
  <p class="lead">Projects</p>
    <% if @profile %>
      <% if @profile.projects_with_category(@category).any? %>
        <% @profile.projects_with_category(@category).each do |project| %>
          <li><%= link_to project.name, project_path(project, profile_id: @profile.id) %></li>
        <% end %>
      <% end %>
    <% else %>
      <% if @category.projects.any? %>
        <% @category.projects.each do |project| %>
          <li><%= link_to project.name, project_path(project) %></li>
        <% end %>
      <% end %>
    <% end %>
</div>
