<h3><%= @category.language %></h3>
<hr>
<div class="col-md-6">
  <p><span class="lead">Category Description: </span><%= @category.description %></p>
</div>

<div class="col-md-6">
  <p class="lead">Projects</p>
    <div class="list-group">
      <% if @user %>
        <% if @user.projects_with_category(@category).any? %>
          <% @user.projects_with_category(@category).each do |project| %>
            <%= link_to project.name, project_path(project, user_id: @user.id), class: "list-group-item" %>
          <% end %>
        <% end %>
      <% else %>
        <% if @category.projects.any? %>
          <% @category.projects.each do |project| %>
            <%= link_to project.name, project_path(project), class: "list-group-item" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>

<% content_for :nav do %>
  <% if @user %>
    <%= link_to "Edit #{@category.language}",
        edit_category_path(@category, user_id: @user.id),
        class: "list-group-item" %>
  <% else %>
    <%= link_to "Edit #{@category.language}",
        edit_category_path(@category),
        class: "list-group-item" %>
  <% end %>
  <%= link_to "Delete Category",
      category_path(@category),
      class: "list-group-item",
      data: { confirm: "Are you sure?" },
      method: :delete %>
<% end %>
