<h3> <%= @category.language %></h3>
<p>
  <div class="btn-group btn-group-sm btn-group-justified">
    <% if @profile %>
      <%= link_to "Edit #{@category.language}",
          edit_category_path(@category, profile_id: @profile.id),
          class: "btn btn-info" %>
    <% else %>
      <%= link_to "Edit #{@category.language}",
          edit_category_path(@category),
          class: "btn btn-info" %>
    <% end %>
    <%= link_to "Delete Category",
        category_path(@category),
        class: "btn btn-danger",
        data: { confirm: "Are you sure?" },
        method: :delete %>
  </div>
</p>
<p>
  <%= @category.description %>
</p>
