<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="col-md-2 clearfix">
    <button class="btn btn-info btn-block" name="expand-nav">
      <span class="glyphicon glyphicon-th-list"></span>
    </button>
    <div class="list-group">
      <%= link_to "View Profile", profile_path(@profile), class: "list-group-item" %>
      <%= yield :nav %>
    </div>
  </div>

  <div class="container">
    <div class="col-md-11">
      <% if flash[:notice] %>
        <div class="flash alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="flash alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </div>

</body>
</html>
